html{
    box-sizing: border-box;
}
*, 
*::after,
*::before{
    box-sizing: inherit;
}
body{
    font-size: 16px;
     font-family: 'Fraunces', serif;
}

.visually-hidden{
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.container{
    max-width: 1280px;
    padding: 0 30px;
    margin: auto;
}