.modal{
    opacity: 0;
    visibility: hidden;
    transition: opacity .7s ease,visibility .7s ease;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    left: 0;
    top: 0;

    width: 100%;
    height: 100vh;
    background-color: #8d8d8db7;

    &--open{
        opacity: 1;
        visibility: visible;
    }
    &__content{
        width: 540px;
        background: #FEFCF7;
        border-radius: 8px;
        overflow: hidden;
    }
    &--wrapper{
        padding: 0 46px;
    }

    &__head{
        padding-top:30px ;
        padding-bottom: 30px;
        background-color: #333D4B;
        font-size: 30px;
        line-height: 48px;
        color: #FFFFFF;
        &__title{
            margin: 0;
        }
    }
    &__body{
        font-size: 30px;
        line-height: 48px;
        /* identical to box height, or 120% */


        color: #FFFFFF;
        padding-top: 27px;
        font-size: 24px;
        line-height: 40px;
        /* or 167% */


        color: #83888F;

    }
    &__desc{
        font-family: 'Barlow', sans-serif;
        line-height: 26px;
        /* or 162% */
        color: #333D4B;
        opacity: 0.8;
    }

    &__footer{
        padding-top: 20px;
        padding-bottom: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__price{
            font-weight: 900;
            font-size: 32px;
            line-height: 36px;
            color: #333D4B; 
        }
        &__btn{
            border: none;
            background-color: #0E8784;
            color: white;
            border-radius: 6px;
            min-width: 150px;
            padding: 15px 20px;

            &:hover{
                opacity: 0.7;
                cursor: pointer;
            }
        }
    }
}

.text{
    &__green{
        color: #0E8784;
    }
}