.table{
    border: 2px solid rgb(139, 139, 139);
    border-collapse: collapse;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
    & td,& th{
        padding: 5px 10px;
    }

    & thead tr {
        background-color: rgb(143, 143, 143);
        color: white;
    }

    & tbody tr{
        &:hover{
            background-color: rgba(148, 148, 148, 0.089);
        }
        &:nth-child(2n){
            background-color: rgb(187, 187, 187);
        }
        
    }

}


.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}


.img{
    width: 400px;
    height: 100px;
    background: url("../../image/kopi2.png") no-repeat;
    background-size: contain;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
    .img{
        background: url("../../image/kopi4.png") no-repeat;
        background-size: contain;
    }
} 